@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  width: 100%;
  /* min-height: 100vh; */
}

button {
  padding: 0.3rem 0.7rem;
  background-color: palevioletred;
  border-radius: 0.6rem;
  transition: all 100ms ease-in-out;
}

button:hover {
  background-color: rgb(223, 48, 106);
  color: white;
}
